<style>
  .link--logout { color: #fff !important; opacity: .75; text-decoration: none; text-align: center; }
</style>

<img src="<%= map_url(@club.high_school_latitude, @club.high_school_longitude) %>" class="map-header__img">
<h1 class="club-heading mt3 lg-mt4"><%= @club.high_school_name %></h1>

<section class="club-summary mt2 mb2 lg-mt3 lg-mb3">
  <div class="club-summary__panel">
    <h2>
      Club Details
    </h2>
    <article>
      <p>
        <strong>Started:</strong> <%= @club.created_at.to_date.strftime('%B %Y') %><br />
        <strong>School:</strong> <%= @club.high_school_name %><br />
        <strong>Address:</strong> <%= @club.high_school_address %><br />
        <% if @club.club_website %>
        <strong>Website:</strong> <%= clean_autolink @club.club_website %>
        <% end %>
      </p>
    </article>
  </div>
  <div class="club-summary__panel">
    <h2 class="pl2 pr2">
      Leaders
      <%= badge_for @club.api_record['new_leaders'].count, class: 'bg-white info' %>
    </h2>
    <ul class="list list--row list--unlinked">
      <% @club.api_record['new_leaders'].each do |leader| %>
        <li class="flex items-center">
          <%= gravatar_for leader['email'], 96, alt: leader['name'], width: 48, class: 'circle' %>
          <span class="bold ml2"><%= leader['name'] %></span>
        </li>
      <% end %>
    </ul>
    <% if @club.leadership_position_invites.any? %>
      <div class="muted pl2 pt1 pb1">+<%= @club.api_record['leadership_position_invites'].count %> invited</div>
    <% end %>
  </div>
  <div class="club-summary__panel">
    <h2 class="heading">
      Subdomains
      <%= link_to "New subdomain", new_subdomain_path(club_id: @club.api_id), class: 'btn bg-success' %>
    </h2>
    <ul class="list">
      <% @subdomains.each do |subdomain| %>
        <li><%= link_to subdomain.full_url, subdomain %></li>
      <% end %>
    </ul>
  </div>
</section>
