<% activate_nav! :my_club %>

<img src="<%= map_url(@club.high_school_latitude, @club.high_school_longitude) %>" class="map-header__img">
<h1 class="club-heading mt3 md-mt4"><%= @club.high_school_name %></h1>

<section class="club-summary mt2 mb2 md-mt3 md-mb3">
  <div class="club-summary__panel">
    <h2>
      Club Details
    </h2>
    <article>
      <p>
        <strong>School:</strong> <%= @club.high_school_name %><br />
        <strong>Address:</strong> <%= @club.high_school_address %>
        <% if @club.club_website %>
        <br />
        <strong>Website:</strong> <%= clean_autolink @club.club_website %>
        <% end %>
      </p>
    </article>
  </div>
  <div class="club-summary__panel">
    <h2 class="pl2 pr2">
      Leaders
      <%= badge_for @club.api_record['new_leaders'].count, class: 'bg-smoke info' %>
    </h2>
    <ul class="list list--row list--unlinked">
      <% @club.api_record['new_leaders'].each do |leader| %>
        <li class="flex items-center">
          <% if leader['email'] %>
            <%= gravatar_for leader['email'], 96, alt: leader['name'], width: 48, class: 'circle' %>
          <% end %>
          <span class="bold ml2"><%= leader['name'] %></span>
        </li>
      <% end %>
    </ul>
    <% if @club.leadership_position_invites %>
      <div class="muted pl2 pt1 pb1">+<%= @club.api_record['leadership_position_invites'].count %> invited</div>
    <% end %>
  </div>
  <div class="club-summary__panel">
    <h2 class="heading">
      Subdomains
      <%= link_to "New subdomain", new_subdomain_path(club_id: @club.id), class: 'btn bg-success' %>
    </h2>
    <% if @subdomains.any? %>
      <ul class="list list--row">
        <% @subdomains.each do |subdomain| %>
          <li class="items-center">
            <%= status_badge subdomain.status_type %>
            <%= link_to subdomain.full_url, subdomain %>
            <%= link_to 'delete', subdomain_path(subdomain), class: 'ml1 error', method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <article>
        <p class="break-word">
          No subdomains yet.<br />
          <span class="underline"><%= placeholder_subdomain @club.high_school_name %>.hackclub.com</span> could be yours!
        </p>
      </article>
    <% end %>
  </div>
  <div class="club-summary__panel">
    <h2 class="heading">
      Check-ins
      <%= badge_for @meetings.count, class: 'bg-smoke info' %>
      <%= form_with model: @current_user, class: 'ml-auto' do |form| %>
        <%= form.hidden_field :email_on_check_in, value: !@email_on_check_in %>
        <% if @email_on_check_in %>
        <%= form.submit 'Opt-out', class: 'btn bg-destroy ml-auto' %>
        <% else %>
        <%= form.submit 'Opt-in', class: 'btn bg-success ml-auto' %>
        <% end %>
      <% end %>
    </h2>
    <article>
      <p>
        <strong>Check-ins:</strong>
        <% if @email_on_check_in %>
          enabled
        <% else %>
          disabled
          <p class="italic">To track your club’s meetings with this tool, opt-in to the beta</p>
        <% end %>
      </p>
      <p>Miss a meeting? <%= link_to 'Record it here', new_club_meeting_path(club_slug: @club.slug) %></p>
    </article>
  </div>
</section>

<% if @meetings.count > 0 %>
  <h1 class="club-heading mt3 md-mt4">Timeline</h1>
  <div class="club-timeline">
  <% @meetings.each do |meeting| %>
    <div class="club-timeline__card">
      On <span class="muted"><%= meeting.start_time.to_date %></span>
      <% if meeting.attendee_count > 0 %>
        your club hosted <span class="bold"><%= meeting.attendee_count %></span> attendees
      <% else %>
        your club <span class="bold slate">didn't hold a meeting</span>
      <% end %>
      <%= link_to 'Show', meeting_path(meeting), class: 'bold slate ml2' %>
    </div>
  <% end %>
  </div>
<% end %>