<% content_for :page_class do %>bg-snow<% end %>

<% content_for :header do %>
<header class="map-header">
  <%# image_tag
map_url(@club.high_school_latitude, @club.high_school_longitude),
      class: 'map-header__img',
      alt: "map of club in #{@club.high_school_parsed_city}" %>
  <div class="map-header__overlay" style="
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5)),
      url(<%= map_url(@club.high_school_latitude, @club.high_school_longitude) %>);
    "></div>
  <div class="map-header__container">
    <h1 class="map-header__heading"><%= @club.high_school_name %></h1>
  </div>
</header>
<% end %>

<section class="club-summary mt2 mb2 md-mt3 md-mb3">
  <div class="club-summary__panel bg-white">
    <h2 class="heading">
      Club Details
    </h2>
    <p>
      <strong>Started:</strong> <%= @club.created_at.to_date.strftime('%B %Y') %><br />
      <strong>School:</strong> <%= @club.high_school_name %><br />
      <strong>Address:</strong> <%= @club.high_school_address %><br />
      <% if @club.club_website %>
      <strong>Website:</strong> <%= clean_autolink @club.club_website %>
      <% end %>
    </p>
  </div>
  <div class="club-summary__panel bg-white pl0 pr0 pb0 pt2">
    <h2 class="heading" style="margin:0;">
      Leaders
      <%= badge_for @club.new_leaders.count, class: 'bg-info' %>
    </h2>
    <ul class="list list--row list--unlinked">
      <% @club.new_leaders.each do |leader| %>
        <li class="flex items-center">
          <%= gravatar_for leader[:email], 96, alt: leader[:name], width: 48, class: 'circle' %>
          <span class="bold ml2"><%= leader[:name] %></span>
        </li>
      <% end %>
    </ul>
    <% if @club.leadership_position_invites.any? %>
      <div class="muted pl2 pt1 pb1">+<%= @club.leadership_position_invites.count %> invited</div>
    <% end %>
  </div>
  <div class="club-summary__panel bg-white">
    <h2 class="heading">Subdomain</h2>
    <% if @subdomains.where.not(id: nil).any? %>
      <%= link_to "Show details about subdomains", subdomains_path %>
    <% else %>
      <%= link_to "Create a subdomain", new_subdomain_path, class: 'btn bg-success' %>
    <% end %>
  </div>
</section>

<pre> <%= JSON.pretty_generate @club %> </pre>
