<h1><%= @club[:high_school_name] %></h1>
<% if @club[:club_website] %>
  <%= link_to @club[:club_website] %>
<% end %>

<% if @subdomain.full_url %>
  <%= link_to "Edit DNS records for #{@subdomain.full_url}", subdomain_path(@subdomain) %>
<% else %>
  <%= render 'subdomains/form', subdomain: @subdomain %>
<% end %>

<pre> <%= JSON.pretty_generate @club %> </pre>
