<%= form_with(model: change_request, local: true) do |form| %>
  <% if change_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change_request.errors.count, "error") %> prohibited this change_request from being saved:</h2>

      <ul>
      <% change_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :record_type %>
    <%= form.select :record_type, ChangeRequest.record_types.keys, prompt: 'Select one' %>
  </div>

  <div class="field">
    <%= form.label :subdomain_id %>
    <%= form.collection_select :subdomain_id, current_user.clubs.map{ |c| c.subdomains }.flatten, :id, :name, prompt: 'Select one' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
