<p id="notice"><%= notice %></p>

<h1>Change Requests</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Record type</th>
      <th>Subdomain</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @change_requests.each do |change_request| %>
      <tr>
        <td><%= change_request.value %></td>
        <td><%= change_request.record_type %></td>
        <td><%= change_request.subdomain_id %></td>
        <td><%= change_request.user_id %></td>
        <td><%= link_to 'Show', change_request %></td>
        <td><%= link_to 'Edit', edit_change_request_path(change_request) %></td>
        <td><%= link_to 'Destroy', change_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change Request', new_change_request_path %>
