<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>Attendee count:</strong>
  <%= @meeting.attendee_count %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', club_path(@meeting.club) %>
