<%= form_with(model: dns_record, local: true) do |form| %>
  <% if dns_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dns_record.errors.count, "error") %> prohibited this dns_record from being saved:</h2>

      <ul>
      <% dns_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap w-100 max-width-3">
    <div class="field lg-mr3">
      <%= form.label :value %>
      <%= form.text_field :value %>
    </div>

    <div class="field">
      <%= form.label :record_type %>
      <%= form.select :record_type, DnsRecord.record_types.keys, prompt: 'Select one' %>
    </div>
  </div>

  <% if dns_record.subdomain_id.nil? %>
    <div class="field">
      <%= form.label :subdomain_id %>
      <%= form.collection_select :subdomain_id, current_user.clubs.map{ |c| c.subdomains }.flatten, :id, :name, prompt: 'Select one' %>
    </div>
  <% else %>
    <%= form.hidden_field :subdomain_id %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
