<h1 class="heading">
  DNS Records
  <%= link_to 'New DNS Record', new_dns_record_path, class: 'btn bg-success' %>
</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Record type</th>
      <th>Subdomain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dns_records.each do |dns_record| %>
      <tr>
        <td><%= dns_record.value %></td>
        <td><%= dns_record.record_type %></td>
        <td><%= dns_record.subdomain_id %></td>
        <td><%= link_to 'Show', dns_record %></td>
        <td><%= link_to 'Edit', edit_dns_record_path(dns_record) %></td>
        <td><%= link_to 'Destroy', dns_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
