<%= form_with(model: subdomain, local: true) do |form| %>
  <% if subdomain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subdomain.errors.count, "error") %> prohibited this subdomain from being saved:</h2>

      <ul>
      <% subdomain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-end max-width-1 mb2">
    <div class="field flex-auto mb0">
      <%= form.label :name %>
      <%= form.text_field :name,
        value: subdomain.name.blank? ? placeholder_subdomain(@club.api_record['high_school_name']) : subdomain.name, class: 'right-align' %>
    </div>
    <span class="h3 ml1" style="line-height: 2;">.hackclub.com</span>
  </div>

  <% if params[:club_id] %>
    <%= form.hidden_field :club_id, value: params[:club_id] %>
  <% else %>
  <div class="field">
    <%= form.label :club_id %>
    <%= form.collection_select :club_id, current_user.clubs, :id, :name, prompt: 'Select one' %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit (subdomain.persisted? ? 'Rename' : 'Register') %>
  </div>
<% end %>
