<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subdomain.name %>
</p>

<p>
  <strong>Club:</strong>
  <%= @subdomain.club_id %>
</p>

<%= link_to 'Add rules', new_dns_record_path %> |
<%= link_to 'Edit', edit_subdomain_path(@subdomain) %> |
<%= link_to 'Back', subdomains_path %>
