<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2>Oops, <%= pluralize post.errors.count, 'error' %>:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Name it' %>
    <%= form.text_field :name, required: true, placeholder: "#{current_user.first_club.name} stickers" %>
  </div>

  <div class="field">
    <%= form.label :url, 'Link it', class: 'inline-block' %><span class="muted ml1 h5">(optional)</span>
    <%= form.url_field :url, placeholder: 'https://hackclub.com' %>
  </div>

  <% if @post.new_record? %>
    <div class="field">
      <%= form.label :file, 'Upload it' %>
      <%= form.file_field :file, required: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
