<!DOCTYPE html>
<html>
  <head>
    <title>Leaders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Host your club's website on a hackclub.com subdomain. Hack Club Leaders is a tool for club leaders to manage their clubs & access tools to empower their success.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hackclub">
    <meta name="twitter:domain" content="https://leaders.hackclub.com/">
    <meta name="twitter:title" content="Hack Club Leaders">
    <meta name="twitter:description" content="Host your club's website on a hackclub.com subdomain. Hack Club Leaders is a tool for club leaders to manage their clubs & access tools to empower their success.">
    <meta name="twitter:image" content="https://leaders.hackclub.com<%= image_path("social-photo.jpg") %>">
    <meta property="og:site_name" content="Hack Club Leaders">
    <meta property="og:title" content="Hack Club Leaders">
    <meta property="og:description" content="Host your club's website on a hackclub.com subdomain. Hack Club Leaders is a tool for club leaders to manage their clubs & access tools to empower their success.">
    <meta property="og:image" content="https://leaders.hackclub.com<%= image_path("social-photo.jpg") %>">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://leaders.hackclub.com/">
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: "image/x-icon" %>
    <meta name="msapplication-TileColor" content="#da28ce">
    <meta name="theme-color" content="#28ce68">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="<%= content_for :page_class %>">
    <%= render 'layouts/nav' %>
    <%= content_for :header %>
    <main class="container">
      <%= yield %>
    </main>
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("W0IfesDfKtIMahFlhTIevlkpCE78GOOM");
      analytics.page();
      }}();
    </script>
  </body>
</html>
